# Workflow d'integrations de la parties backend

name: Backend

on:
  push:
    branches: [ "Feature/Test" ]
  pull_request:
    branches: [ "Feature/Test" ]

permissions:
  contents: read

jobs:
  symfony-tests:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: backend/lakaz
    
    steps:
      
    - uses: shivammathur/setup-php@2cb9b829437ee246e9b3cac53555a39208ca6d28
      with:
        php-version: '8.2.4'

    - name: Checkout Repository
      uses: actions/checkout@v3
          
    - name: Install Dependencies
      run:
        composer install --no-interaction --prefer-dist
      
    - name: Set up MySQL
      uses: mirromutth/mysql-action@v1.1
      with:
        mysql-version: '8.0.32'
        mysql-root-password: ${{ secrets.MYSQL_ROOT_PASSWORD }}

    - name: Prepare Symfony Environment for Tests
      run: |
        cd ./backend/lakaz
        cp .env.test .env
        php bin/console doctrine:database:create --env=test
        php bin/console doctrine:schema:create --env=test
        php bin/console doctrine:fixtures:load --env=test --no-interaction

    - name: Run PHPUnit Tests
      env:
        DATABASE_URL: mysql://root:root@127.0.0.1:3306/lakaz?serverVersion=8.0.32&charset=utf8mb4
      run: |
        cd ./backend/lakaz
        php bin/phpunit


